ClienteWSfacturacion/ClienteWSfacturacion/Web References/localhost/WSfacturacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Buscarid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscaridResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscaridResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarCliente">
        <s:complexType />
      </s:element>
      <s:element name="ListarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarClienteResult" type="tns:ArrayOfCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarProductoVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idventa" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarProductoVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarProductoVentaResult" type="tns:ArrayOfProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Producto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Descuento" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Iva" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Categoria" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarVentaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idventacl" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarVentaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarVentaClienteResult" type="tns:ArrayOfVenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Venta" nillable="true" type="tns:Venta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Venta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Subtotal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Iva" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Descuento" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Idcliente" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Idvendedor" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idventa" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarVentaResult" type="tns:Venta" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscaridSoapIn">
    <wsdl:part name="parameters" element="tns:Buscarid" />
  </wsdl:message>
  <wsdl:message name="BuscaridSoapOut">
    <wsdl:part name="parameters" element="tns:BuscaridResponse" />
  </wsdl:message>
  <wsdl:message name="ListarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCliente" />
  </wsdl:message>
  <wsdl:message name="ListarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ListarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarProductoVentaSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarProductoVenta" />
  </wsdl:message>
  <wsdl:message name="BuscarProductoVentaSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarProductoVentaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarVentaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarVentaCliente" />
  </wsdl:message>
  <wsdl:message name="BuscarVentaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarVentaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarVentaSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarVenta" />
  </wsdl:message>
  <wsdl:message name="BuscarVentaSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarVentaResponse" />
  </wsdl:message>
  <wsdl:portType name="WSfacturacionSoap">
    <wsdl:operation name="Buscarid">
      <wsdl:input message="tns:BuscaridSoapIn" />
      <wsdl:output message="tns:BuscaridSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarCliente">
      <wsdl:input message="tns:ListarClienteSoapIn" />
      <wsdl:output message="tns:ListarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProductoVenta">
      <wsdl:input message="tns:BuscarProductoVentaSoapIn" />
      <wsdl:output message="tns:BuscarProductoVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarVentaCliente">
      <wsdl:input message="tns:BuscarVentaClienteSoapIn" />
      <wsdl:output message="tns:BuscarVentaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarVenta">
      <wsdl:input message="tns:BuscarVentaSoapIn" />
      <wsdl:output message="tns:BuscarVentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSfacturacionSoap" type="tns:WSfacturacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscarid">
      <soap:operation soapAction="http://tempuri.org/Buscarid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCliente">
      <soap:operation soapAction="http://tempuri.org/ListarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProductoVenta">
      <soap:operation soapAction="http://tempuri.org/BuscarProductoVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVentaCliente">
      <soap:operation soapAction="http://tempuri.org/BuscarVentaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVenta">
      <soap:operation soapAction="http://tempuri.org/BuscarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSfacturacionSoap12" type="tns:WSfacturacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscarid">
      <soap12:operation soapAction="http://tempuri.org/Buscarid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCliente">
      <soap12:operation soapAction="http://tempuri.org/ListarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProductoVenta">
      <soap12:operation soapAction="http://tempuri.org/BuscarProductoVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVentaCliente">
      <soap12:operation soapAction="http://tempuri.org/BuscarVentaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVenta">
      <soap12:operation soapAction="http://tempuri.org/BuscarVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSfacturacion">
    <wsdl:port name="WSfacturacionSoap" binding="tns:WSfacturacionSoap">
      <soap:address location="https://localhost:44351/WSfacturacion.asmx" />
    </wsdl:port>
    <wsdl:port name="WSfacturacionSoap12" binding="tns:WSfacturacionSoap12">
      <soap12:address location="https://localhost:44351/WSfacturacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>